.upper-flex-features{
    width:100%;
    background-color:#F3F3F3;
    padding:0px;
}
.upper-flex-split {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    padding-top: 50px;
    justify-content: space-between;
}

.upper-flex-split .f-left {
    flex: 20%;
    width: 100%;
    padding: 0px;
}
.upper-flex-split .left-content {
    padding: 30px;
    display: flex;
}
.upper-flex-split .left-content img {
    width: 40%;
    height: auto;
}

.search .card-main .card-block {
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.search .input-group .form-control {
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    margin: 0 auto;
}
.search {
    width: 80%;
    position: absolute;
    padding-top: 330px;
    opacity: 0.9;
  
}




@media only screen and (max-width: 480px) {
    .upper-flex-split .f-left {
        width: 100%;
        padding-top: 10px;
    }
    
    .upper-flex-split .left-content img {
        width: 70%;
    }
    .search{
        max-width:60%;
        padding-top:100px;
    }
   .search .card-main{
    width: 100%;
    opacity: 0.8;
  
}
   .search .card-main .card-block {
        max-width: 100%;
        flex-direction: column;
        gap:0px;
        align-items: stretch;
        justify-content: space-between;
    }

}


@media only screen and (max-width: 992px) {
    .upper-flex-split{
        padding-bottom:0px;
    }
    .search{
        width:100%;
        padding-top:250px;
        
    }
   .search .card-main {
        width: 90%;
        margin: 0 auto;
        opacity: 0.8;
    }
}
@media only screen and (max-width: 767px) {
      .upper-flex-split{
        padding-bottom:0px;
    }
    .search{
        width:100%;
        padding-top:150px;
        
    }
    .search .card-main {
        width: 100%;
        margin: 0 auto;
        /*margin-top: -90px;*/
        opacity: 0.8;
    }
}
@media (min-width: 992px) and (max-width: 1440px) {
    /* Specifically small laptops and large tablets */

    .search{
        width:100%;
    }
   .search .card-main {
        width: 80%;
        margin: 0 auto;
        /* margin-top: -10px;*/
    }
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
